/* 
LABORATORY EXERCISE #4
Your task is to edit this CSS file and design the different web pages. You are NOT allowed to modify/change the HTML files.
Be creative with your designs. Points will be given based on originality, creativity and overall amazingness.
*/

body{
    background-image: url(CSS_Imgs/bgcoffee.jpeg);
}

header{
    color: white;
    text-align: center;
}

p{
    color: antiquewhite;
    text-align: center;
}

#navBar{
    background-color: bisque;
    text-align: left;
}